<springProfile name="dev,local-test,re">
    <!--<appender name="sql" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_PATH}/${myAppName}-sql.log</File>
        <encoder>
            <pattern>%d [%level] [%thread] %logger{15}:%line %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${myAppName}-sql.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>
    <appender name="sql-queue" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>512</queueSize>
        <appender-ref ref="sql"/>
    </appender>

    &lt;!&ndash; mybatis loggers &ndash;&gt;
    <logger name="com.decorate.mapper.*" level="DEBUG" additivity="false">
        <appender-ref ref="sql-queue"/>
    </logger>-->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <logger name="com.decorate.mapper" level="debug" />

    <logger name="jdbc.sqltiming" level="debug"/>
    <logger name="com.ibatis" level="debug" />

    <logger name="com.ibatis.common.jdbc.SimpleDataSource" level="debug" />
    <logger name="com.ibatis.common.jdbc.ScriptRunner" level="debug" />
    <logger name="com.ibatis.sqlmap.engine.impl.SqlMapClientDelegate"
            level="debug" />
    <logger name="com.mysql.jdbc.Connection" level="debug" />
    <logger name="com.mysql.jdbc.Statement" level="debug" />
    <logger name="com.mysql.jdbc.PreparedStatement" level="debug" />
    <logger name="com.mysql.jdbc.ResultSetImpl" level="debug" />
    <logger name="com.mysql.jdbc.ResultSetImpl" level="debug" />


</springProfile>