<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.decorate.mapper.ItemTypeMapper" >
  <resultMap id="BaseResultMap" type="com.decorate.model.ItemType" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="invalid" property="invalid" jdbcType="BIT" />
    <result column="operate_id" property="operateId" jdbcType="BIGINT" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="order_flag" property="orderFlag" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="relateItemType" extends="BaseResultMap" type="com.decorate.model.ItemType">
    <association property="itemList" fetchType="lazy" column="id" select="com.decorate.mapper.ItemMapper.selectByTypeId"></association>
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, create_time, update_time, invalid, operate_id, memo,order_flag
  </sql>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_item_type WHERE invalid = 1 order by order_flag
  </select>

  <select id="selectAllRelateType" resultMap="relateItemType">
    select
    <include refid="Base_Column_List" />
    from t_item_type order by order_flag
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_item_type
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectNameByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    name
    from t_item_type
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_item_type
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.decorate.model.ItemType" >
    insert into t_item_type (id, name, create_time, 
      update_time, invalid, operate_id, 
      memo,order_flag)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{invalid,jdbcType=BIT}, #{operateId,jdbcType=BIGINT}, 
      #{memo,jdbcType=VARCHAR}),#{orderFlag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.decorate.model.ItemType" >
    insert into t_item_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="invalid != null" >
        invalid,
      </if>
      <if test="operateId != null" >
        operate_id,
      </if>
      <if test="memo != null" >
        memo,
      </if>
      <if test="orderFlag != null" >
        order_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="invalid != null" >
        #{invalid,jdbcType=BIT},
      </if>
      <if test="operateId != null" >
        #{operateId,jdbcType=BIGINT},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="orderFlag != null" >
        #{orderFlag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.decorate.model.ItemType" >
    update t_item_type
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="invalid != null" >
        invalid = #{invalid,jdbcType=BIT},
      </if>
      <if test="operateId != null" >
        operate_id = #{operateId,jdbcType=BIGINT},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="orderFlag != null" >
        order_flag = #{orderFlag,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.decorate.model.ItemType" >
    update t_item_type
    set name = #{name,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      invalid = #{invalid,jdbcType=BIT},
      operate_id = #{operateId,jdbcType=BIGINT},
      memo = #{memo,jdbcType=VARCHAR},order_flag = #{orderFlag,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>